# Rename this file to "keystore.properties" AFTER you generate your upload key.
# NEVER commit the real keystore.properties or the .jks file to git.
storeFile=../upload-keystore.jks
storePassword=CHANGE_ME
keyAlias=upload
keyPassword=CHANGE_ME
